/* Font */
html {
    /* header, default, secondary-2px, tertiary/wildcard */
    font-family: 'Noto Sans', sans-serif;
    font-size: 100%;
}
/* General CSS and body grid */
body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    background-color: var(--white);
    color: var(--black);
}
body, body > header, button, i {
    transition: background .4s;
}
body > header {
    display: grid;
    grid-template-columns: auto 1fr auto auto;
    padding: 0.3rem 0.3rem 0.3rem 1rem;
    background-color: #e1f5fe71;
}
span {
    /* padding: .5em; */
    display: inline-flex;
    place-items: center;
    white-space: nowrap;
}
button {
    padding: 0.5em;
    text-align: center;
}
input {
    padding: .5em .75em;
    background-color: var(--grey-50);
    border-color: var(--cyan-100);
}
/* Borders */
span, button, input {
    border: 1px solid transparent;
    border-radius: 10px;
}
/* Main grid */
main {
    padding: 1rem;
}
section {
    max-width: 700px;
    margin: 0 auto;
    display: grid;
    gap: 1rem;
}
/* Icon wrappers */
.i-wrap {
    margin: 0.4rem;
    color: rgba(0, 0, 0, 0.5);
}
.i-wrap:hover {
    color: var(--black);
    transition: all .5s;
}
a.i-wrap {
    display: inline-flex;
    place-items: center;
}
button.i-wrap {
    padding: 0;
    background-color: transparent;
    border: none;
}
/* Positioning */
.float-right {
    float: right;
}
/* Coloring */
.success {
    color: var(--black);
    background-color: var(--green-600);
}
.danger {
    color: var(--black);
    background-color: var(--red-600);
}
.primary {
    color: var(--black);
    background-color: var(--cyan-600);
}
.dim {
    /* Cyan 100 with alpha */
    background-color: rgba(178, 235, 242, 0.5);
}
::placeholder,
::-ms-input-placeholder {
    color: var(--grey-500);
}
/* Other grids */
.grid-a1a {
    /* Auto 1fr Auto */
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: 1rem;
}
.grid-ram {
    /* Repeat Auto Minmax */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10ch, 1fr));
    gap: 1rem;
}
